<h2> Gossip n°<%= params[:id] %> </h2>

<% gossip = Gossip.find_by(id:params[:id]) %>

<div class="card mt-2">
  <h5 class="card-header"><%= User.find_by(id:gossip.user_id).first_name %></h5>
  <div class="card-body">
    <p class="card-title"><%= Gossip.find(params[:id]).content %></p>
    <a href="/user/<%= gossip.user_id %>" class="btn btn-warning">Profil de l'auteur</a>
  </div>
  <div class="card-footer"><%= Gossip.find(params[:id]).created_at %></div>
</div>