 <div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, moussaillons!</h1>
    <p>The Gossip Project est un site permettant de poster des potins concernant la formation <a href="https://www.thehackingproject.org/fr" class="text-danger" target="_blank"> The Hacking Project </a>. 
  Vous êtes moussaillon ? Pirate ? Corsaire ? ou avez un autre statut faisant parti de The Hacking Project ? Lachez-vous et 
  racontez nous tout vous concernant ou concernant vos collègues ! </p>
    <p><a href=<%= contact_path %> class="btn btn-dark">Nous contacter  &raquo;</a></p>
  </div>
</div>

<div class="container">
  <h3 class="mt-5">Les potins postés</h3> <br>


  <div class="row">
  <% @gossips.order('gossips.created_at DESC').all.each do |gossip| %>
      <div class="card mb-3 col-md-5 p-0 ml-3">
        <h6 class="card-header"><%= gossip.user.first_name %></h6>
        <div class="card-body">
          <h6 class="card-title"><%= gossip.content %></h6>
          <a href="<%= gossip_path(gossip.id) %>" class="btn btn-dark">Gossip n° <%= gossip.id %></a>

           <% @comment_all = Comment.all %>

            <%  c = 0   %>
           <% @comment_all.each do |comment|
              c += 1 if comment.gossip_id == gossip.id
           end %>
          <% if c >= 1 %>
            <p class="mb-0 mt-3 text-danger"><%= c %> commentaire(s)</p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
