<div class="card mt-2">
  <h3 class="card-header">Profil n°<%= params[:id] %></h3>
  <p class="card-header">Nom : <%= User.find_by(id:params[:id]).last_name %></p>
  <p class="card-header">Prénom : <%= User.find_by(id:params[:id]).first_name %></p>
  <p class="card-header">Description : <%= User.find_by(id:params[:id]).description %></p>
  <p class="card-header">Email : <%= User.find_by(id:params[:id]).email %></p>
  <p class="card-header">Age : <%= User.find_by(id:params[:id]).age %></p>
  <p class="card-header">Ville : <%= City.find(User.find_by(id:params[:id]).city_id).name %></p>
</div>

<a href="/" class="btn btn-warning mt-3">Retour</a>