<div class="container mt-5">
  <h2> Gossip n°<%= params[:id] %> </h2>

  <% gossip = Gossip.find_by(id:params[:id]) %>


<%# Corriger l'erreur du user_id  %>
  <div class="card mt-2 mb-3">
    <h5 class="card-header">Auteur : <%= User.find_by(id:gossip.user_id).first_name %></h5>
    <div class="card-body">
      <p class="card-title">Titre : <%= Gossip.find(params[:id]).title %></p>
      <p class="card-title">Contenu : <%= Gossip.find(params[:id]).content %></p>
      <p class="card-title">Ville de l'Auteur : <%= City.find(User.find_by(id:gossip.user_id).city_id).name %></p>
      <a href=<%= user_path(gossip.user_id) %> class="btn btn-dark">Profil de l'auteur</a>
      <a href=<%= city_path(City.find(User.find_by(id:gossip.user_id).city_id)) %> class="btn btn-dark">Ville de l'auteur</a>
      <a href="/gossips/<%= params[:id] %>/edit" class="btn btn-danger">Modifier</a>
      <a href="/gossips/<%= params[:id] %>" class="btn btn-danger" data-confirm="Etes-vous sûr de vouloir supprimer le gossip ?" data-method="DELETE">Supprimer</a>
    </div>
    <div class="card-footer"><%= Gossip.find(params[:id]).created_at %></div>
  </div>


</div>
  <div class="container-sm mt-3">
<%# cela créait un bug à cause du comments dans les pages distantes  %>
  <div>
    <%= render 'comments/index'%>
    <%= render 'comments/new'%>
  </div>
</div>