<div class="container mt-5">
  <h2> Gossip n°<%= params[:id] %> </h2>

  <% gossip = Gossip.find_by(id:params[:id]) %>


  <%# Corriger l'erreur du user_id si elle revient  %>
    <div class="card mt-2 mb-3">
      <h5 class="card-header">Auteur : <%= User.find_by(id:gossip.user_id).first_name %></h5>
      <div class="card-body">
        <p class="card-title">Titre : <%= Gossip.find(params[:id]).title %></p>
        <p class="card-title">Contenu : <%= Gossip.find(params[:id]).content %></p>
        <p class="card-title">Ville de l'Auteur : <%= City.find(User.find_by(id:gossip.user_id).city_id).name %></p>
        <a href=<%= user_path(gossip.user_id) %> class="btn btn-dark">Profil de l'auteur</a>
        <a href=<%= city_path(City.find(User.find_by(id:gossip.user_id).city_id)) %> class="btn btn-dark">Ville de l'auteur</a>
        
        
        <%  if current_user %> 
          <%  if Gossip.find(params[:id]).user_id == current_user.id %> 
            <a href="/gossips/<%= params[:id] %>/edit" class="btn btn-danger">Modifier</a>
            <a href="/gossips/<%= params[:id] %>" class="btn btn-danger" data-confirm="Etes-vous sûr de vouloir supprimer le gossip ?" data-method="DELETE">Supprimer</a>
          <% end %> 
        <% end %>

      </div>
      <div class="card-footer"><%= Gossip.find(params[:id]).created_at %></div>
    </div>


  </div>
    <div class="container-sm mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
          <%= form_tag comments_path(params[:id]), method: "post" do %>
            <div class="form-group">
              <%= label_tag 'Ajouter un commentaire :' %>
              <%= text_area_tag 'content', nil , {class: 'form-control', rows: 5, placeholder: "Saisissez votre commentaire..."} %>
            </div>
            <%= submit_tag "Valider", {class: 'btn btn-dark'} %>
          <% end %>
        </div>
      </div>
 


  <%# @comment.content %>

  <div class="mt-5">
    <p>Commentaires : </p>
    <% @comment = Comment.all %>
    <% @comment.each do |comment| %>
      <% if comment.gossip_id == Gossip.find(params[:id]).id %>
        <div class="card mb-3 p-0">
          <p class="card-header"><%= User.find(comment.user_id).first_name %></p>
          <div class="card-body">
            <p><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
